.list {
    width: 80%;
    height: 100%;
   color: white;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type:none
  }

  .addstyle {
 
      display: flex;
      justify-content: center;
      justify-items: center;
    
  }